
@{
    ViewBag.Title = "Login";
}

@model WebApplication3.Models.Loginmodel

@{

    Layout = null;

}



<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Login</title>

</head>

<body>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")

    @using (Html.BeginForm())

    {

        @Html.AntiForgeryToken()



        <div class="form-horizontal">

            <h4>Loginmodel</h4>

            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">

                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                </div>

            </div>



            <div class="form-group">

                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })

                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                </div>

            </div>

            <br />

            <div class="form-group">

                <input type="submit" value="Login" class="btn btn-default" />

                <br />

                <br />

                <a href="~/Login/ForgotPassword/">

                    <input type="button" value="Forgot Password" />

                </a>



            </div>

        </div>

    }



    <div>

    </div>

</body>

</html>